// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.minor{
    text-size: 10pt;
}
.upper{
    height: 100px;
    text-transform: uppercase;
    bottom-margin: 150px;
};
.start{
    position: relative;
    left-margin: auto;
    top-margin: 25px;
    width: 60%;
    display: inline-block;
    height: 450px;
    .jumbotron{
        position: absolute;
        width: 100%;
        height: 100%;
        top-margin: 25px;
    }
}
.left{
    position: relative;
    left-margin: auto;
    width: 35%;
    display: inline-block;
    height: 350px;
    .jumbotron{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.right{
    right-margin: auto;
    position: relative;
    width: 55%;
    display: inline-block;
    height: 350px;
    .jumbotron{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.show{
    left-margin: 300px;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 15px;
} 
.card-list{
    margin-top: 100px;
}
.myDecks{
    position: relative;
    width: 50%;
    display: inline-block;
    height: 500px;
    .jumbotron{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
}
.allDecks{
    
    position: relative;
    width: 49%;
    height: 500px;
    display: inline-block;
    .jumbotron{
        position: absolute;
        width: 100%;
        height: 100%
    }

}

.card {
    width: 400px;
    height: 200px;
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
     
.card.is-flipped {
    transform: rotateY(180deg);
}
     
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 150px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    backface-visibility: hidden;
}

.card-face-front {
    background: #999;
}
 
.card-face-back {
    background: #999;
    transform: rotateY(180deg);
}

