%div{:class=>"centro"}  
  %div{:class=>"myDecks"}
    %div{:class=>"jumbotron"}
      %h1 My Decks
      %div{:class=>"card-list"}
      - for deck in @deck
        %li
          =link_to deck.name, deck_path(deck.id)
          =link_to 'edit', edit_deck_path(deck.id)
          =link_to 'remove', deck_path(deck.id),method: :delete, data:{confirm: 'Are you sure?'}
      %p{:class=>"bottom-right"}= link_to 'New deck', new_deck_path
  %div{:class=>"allDecks"}
    %div{:class=>"jumbotron"}
      %h1 Popular Decks 
      %div{:class=>"card-list"}
        - for deck in Deck.where("shareable = 't'").all 
          %li
            =link_to deck.name + " (User: #{User.where("id = " + deck.user_id.to_s).all[0].email})" , deck_path(deck.id)
