%h1 My Decks
%p= link_to 'new', new_deck_path
- for deck in @deck 
  %li
    =link_to deck.name, deck_path(deck.id)
    =link_to 'edit', edit_deck_path(deck.id)
    =link_to 'remove', deck_path(deck.id),method: :delete, data:{confirm: 'Are you sure?'}
