%p=link_to 'Home', decks_path
%div{:class=>"right"}
  %div{:class=>"jumbotron"}
    
    %h1 
      = @deck.name 
    %p
      = @deck.description
    %p
      %strong Number of Cards:
      = @deck.cards.count
    =link_to 'start', deck_start_path(@deck.id) ,:class=>["btn","btn-defaulti","start"]   
%div{:class=>"card-list"}
  %p=link_to 'new card', new_deck_card_path(@deck.id)
  %p
    %strong Card list
  -@deck.cards.sort_by{|o| o.front}.each do |card| 
    %li=link_to card.front, deck_card_path(@deck.id,card.id)

