%footer{:class => "footer"}
  %div{:clas=>"container"}
    %small
      Wanki - The Anki application for Web
    %nav
      %ul
        %li= link_to "About",   '#' 
        %li= link_to "Contact", '#' 
